* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  width: 30rem;
}

.error {
  color: red;
  font-size: 0.8em;
}

.submitted-info {
  margin-top: 20px;
}